@page "{TemplateId}"
@model TemplateModel
@{
    ViewData["Title"] = "Шаблон";
}

<div class="breadcrumbs col s12">
    <a href="/TemplateApps">Приложения</a>
    <span>&#62;</span>
    <a href="/TemplateApp/@Model.Template.TemplateAppId">@Model.Template.TemplateApp.Name</a>
    <span>&#62;</span>
    <span>@Model.Template.Id</span>
</div>

<h5>Шаблон</h5>
