@page
@model TemplateAppsModel
@{
    ViewData["Title"] = "Приложения";
}

<h5>Приложения</h5>
<div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
    </div>

    @foreach (var app in @Model.TemplateApps)
    {
        <a href="/TemplateApp/@app.Id">
            <div class="templateApp">
                <img class="templateApp-img" src="/img/app.svg">
                <span class="templateApp-title">@app.Name</span>
            </div>
        </a>
    }
</div>
