<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwConfigExceptions="true"
    >

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="file" xsi:type="File"
			layout="${longdate} ${level} ${message} ${exception:format=ToString}"
			fileName="${basedir}/templater.log"
			keepFileOpen="true"
			archiveEvery="Day"
			maxArchiveDays="3"
			encoding="utf-8" />
	</targets>

	<rules>
		<!-- BlackHole without writeTo -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Debug" writeTo="file" maxLevel="Fatal"/>
	</rules>
</nlog>