body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
}

main {
    flex: 1 0 auto;
}

.breadcrumbs {
    padding: 10px 0;
}

/* Приложения */
.templateApp {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    margin: 5px;
    padding: 5px;
}

    .templateApp .add-border {
        margin: -2px;
        border: 2px dashed #ddd;
        border-radius: 10px;
    }

    .templateApp:hover {
        background: #eee;
    }

.templateApp-title {
    display: block;
    color: #333;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
}

.templateApp-img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto;
}

.template-img {
    width: 32px;
    height: 32px;
}
