@page "{TemplateAppId:int}"
@model CreateModel
@{
    ViewData["Title"] = "Новый шаблон";
}

<div class="breadcrumbs col s12">
    <a asp-page="/TemplateApps/Index">Приложения</a>
    <span>&#62;</span>
    <a asp-page="/TemplateApps/Edit" asp-route-templateAppId="@Model.TemplateApp.Id">@Model.TemplateApp.Name</a>
    <span>&#62;</span>
    <span>Новый шаблон</span>
</div>

<h5>@ViewData["Title"]</h5>

<form class="col s12" method="post" enctype="multipart/form-data">
    <div class="row" style="margin-bottom: 0;">
        <div class="file-field input-field col s6">
            <input id="fileInput" onchange="setTemplateId()" type="file" asp-for="TemplateFile" required>
            <div class="file-path-wrapper" style="padding: 0;">
                <input class="file-path validate" type="text" placeholder="Выберите файл шаблона">
            </div>
            <span class="helper-text red-text" data-error="wrong" data-success="right" asp-validation-for="TemplateFile"></span>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
            <label>Идентификатор Api</label>
            <input id="templateName" type="text" required data-length="16" asp-for="ApiRef">
            <span class="helper-text red-text" data-error="wrong" data-success="right" asp-validation-for="ApiRef"></span>
        </div>
    </div>

    <button class="btn waves-effect waves-light orange" type="submit" name="action">
        Создать
        <i class="material-icons right">send</i>
    </button>
</form>

@section Scripts {
<script>
    function setTemplateId() {
      const name = document.getElementById('fileInput').files.item(0).name;
      const filename = name.substring(0, name.lastIndexOf('.'))
      document.getElementById('templateName').value = filename;
      document.getElementById('templateName').focus()
    }
</script>
}
