<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - templater</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" media="screen,projection" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <nav class="light-green" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">Templater</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/swagger">Api</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer light-green" style="padding-top: 0;">
        <div class="footer-copyright">
            <div class="container">
                <span>&copy; 2022</span> - <a class="grey-text text-lighten-4" href="mailto:mmart@inbox.ru">Михаил Мартынов</a>
                <a class="grey-text text-lighten-4 right" href="#!" target="_blank">Project home</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>